<div fxLayout="row wrap" fxLayoutGap="16px">
    <div fxFlex>
        <div fxLayout="column">
            <div>
                <img src="assets/1_M6s8R2kpAwR8fI5UoLd3Cg.jpeg" style="max-width: 100%;" />
            </div>
            <div>
                <em>
                    The Hitchhiker's Guide to the Galaxy
                    (<a class="attribution-link" href="https://creative-analytics.corsairs.network/hitchhikers-guide-to-analytics-the-whole-truth-15fe2b8fae33"
                        target="_blank">image source</a>)
                </em>
            </div>
        </div>
    </div>

    <div fxFlex>
        <h1 class="blue">Who was Douglas Adams?</h1>
        <p>
            Douglas Noel Adams (11 March 1952 - 11 May 2001) was an English author, screenwriter, essayist, humourist, satirist and dramatist. Adams was author
            of The Hitchhiker's Guide to the Galaxy, which originated in 1978 as a BBC radio comedy, before developing into a "trilogy" of five books that sold
            more than 15 million copies in his lifetime and generated a television series, several stage plays, comics, a video game, and a 2005 feature film.
            Adams's contribution to UK radio is commemorated in The Radio Academy's Hall of Fame.
        </p>
        <p>
            Adams also wrote Dirk Gently's Holistic Detective Agency (1987) and The Long Dark Tea-Time of the Soul (1988), and co-wrote The Meaning of Liff
            (1983), The Deeper Meaning of Liff (1990), and Last Chance to See (1990). He wrote two stories for the television series Doctor Who, co-wrote City
            of Death (1979), and served as script editor for its seventeenth season. He co-wrote the sketch "Patient Abuse" for the final episode of Monty
            Python's Flying Circus.
        </p>
        <p>
            Adams was an advocate for environmentalism and technological innovation.
        </p>
        <p>
            <em>
                (<a class="attribution-link" href="https://en.wikipedia.org/wiki/Douglas_Adams" target="_blank">more info</a>)
            </em>
        </p>
    </div>
</div>